<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Викторина #{{ id }}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
  <header>
    <h1>Викторина #{{ id }}</h1>
    <h2>{{ title }}</h2>
  </header>

  <main>
    <form>
      {% for question in questions %}
        <fieldset>
          <legend>{{ loop.index0 + 1 }}. {{ question['question'] }}</legend>

          {% for answer in question['answers'] %}
            <div>
              <input type="radio" name="{{ question['id'] }}" value="{{ answer }}" id="id{{ question['id'] }}_{{ loop.index0 }}">
              <label for="id{{ question['id'] }}_{{ loop.index0 }}">{{ answer }}</label>
            </div>
          {% endfor %}
        </fieldset>
      {% endfor %}
    </form>

    <div>
      <button>Отправить</button>
    </div>
  </main>

  <script src="{{ url_for('static', path='quiz.js') }}"></script>
</body>
</html>
